body{
  background: white;
  color:rgb(30, 29, 29);
  max-width: 600px;
  margin: auto;
  font-family: sans-serif;
}

p{
  line-height: 1.6;

}

article + article{
  margin-top: 3rem;
  border-top: 1px solid #c5c5c5;
}